<p>
 {{name}}
    <button style="color: green, font-size: 14px;"  class="change-devour" deta-id="{{id}}" data-newdevour="{{devour}}">
 {{#if devour}}Devour it! {{else}} Try it Again! {{/if}}
 </button>
</p>