{{!-- template for rendering --}}

<div class="container">

  <h1>Eat-Dat-Burger!</h1>

  <h2>Create your own burger and then devour it!</h2>
  <h3>Bet you can't eat just 1!</h3>


  <ul>
    {{#each burger}}
    {{#unless devoured}}
    {{> burger/burger-block burger=false}}
    {{/unless}}
    {{/each}}
  </ul>

  <h2>Devoured burgers:!</h2>

  <ul>
    {{#each burger}}
    {{#if devoured}}
    {{> burger/burger-block burger=true}}
    {{/if}}
    {{/each}}
  </ul>

  <h2>Add a burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="burger">Burger Name:</label>
      <input type="text" id="burger" name="name">
    </div>

    <button type="submit">Add New Burger</button>
  </form>

</div>